.header {
  height: 350px;
  width: 100%;
  min-width: 320px;
  @include vertically-centred;
  flex-direction: column;
  background-color: #faf255;
  background-image: url('../images/diagonal-noise.png');
}
.header h2 {
  margin-bottom: 0;
  font-weight: normal;
}

@media (min-width: 1024px) {
  
}